<!-- drawer component -->
<div id="drawer-right-example"
    class="fixed top-0 right-0 z-40 h-screen p-4 overflow-y-auto transition-transform translate-x-full bg-white w-96 dark:bg-gray-800"
    tabindex="-1" aria-labelledby="drawer-right-label">
    <h5 id="drawer-right-label"
        class="inline-flex items-center mb-4 text-base font-semibold text-gray-500 dark:text-gray-400">
        Course Details
    </h5>
    <button type="button" data-drawer-hide="drawer-right-example" aria-controls="drawer-right-example"
        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 absolute top-2.5 right-2.5 inline-flex items-center justify-center dark:hover:bg-gray-600 dark:hover:text-white">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
        </svg>
        <span class="sr-only">Close menu</span>
    </button>
    <img [src]="finaldata.img" class="d-flex justify-center text-center">

    <h3 class="text-3xl font-bold dark:text-white my-4">{{finaldata.title}}</h3>
    <div class="flex gap-14">
        
        <p class="text-center text-gray-800 dark:text-white text-2xl mt-1 font-bold"
        [ngStyle]="{color:finaldata.type === 'Free'?'green':'red'}">{{finaldata.type}}</p>
        <p class="text-center text-gray-800 dark:text-white text-2xl mt-1 font-bold">
            {{finaldata.price}}
        </p>
    </div>
    <p class="mb-3 text-gray-500 dark:text-gray-400">{{finaldata.desc}}</p>
    <!-- <span
        class="mt-3 flex items-center justify-center text-red-800 text-xs font-medium px-2.5 py-0.5 rounded-full dark:bg-red-900 dark:text-red-300"
        [ngStyle]="{background: finaldata.available==='Available' ?'rgb(220 252 231)':'rgb(254 226 226)' , color: finaldata.available==='Available' ?'rgb(22 101 52)':'rgb(153 27 27)'}">
        <span class="w-2 h-2 mr-1 bg-red-500 rounded-full"
            [ngStyle]="{background: finaldata.available === 'Available' ? 'rgb(34 197 94)' : 'rgb(220 38 38)'}">
        </span>
        {{finaldata.available}}
    </span> -->


    <p class="mb-3 text-gray-500 dark:text-gray-400">Track work across the enterprise through an open, collaborative
        platform. Link issues across Jira and ingest data from other software development tools, so your IT support
        and operations teams have richer contextual information to rapidly respond to requests, incidents, and
        changes.</p>
    <p class="text-gray-500 dark:text-gray-400">Deliver great service experiences fast - without the complexity of
        traditional ITSM solutions.Accelerate critical development work, eliminate toil, and deploy changes with
        ease, with a complete audit trail for every change.</p>

    <div class="grid grid-cols-2 gap-4">
    </div>
</div>