<section class="bg-white dark:bg-gray-900">
    <div class="grid max-w-screen-xl px-4 pt-4 mx-auto lg:gap-8 xl:gap-0 lg:py-4 lg:grid-cols-12">
        <div class="mr-auto place-self-center lg:col-span-7">
            <h1
                class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight -none md:text-5xl xl:text-6xl dark:text-white">
                Dive into the world of coding</h1>
            <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">From
                checkout to global sales tax compliance, companies around the world use Flowbite to simplify their
                payment stack.</p>

            <a href="#"
                class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                Learn to code
            </a>
        </div>
        <div class="lg:mt-0 lg:col-span-5 lg:flex">
            <img src="assets/—Pngtree—blue circle earth technology code_3243365-min.png" alt="mockup">
        </div>
    </div>
</section>


<div
    class="relative mx-auto mt-10 border-gray-300 dark:border-gray-800 bg-gray-300 dark:bg-gray-800 border-[16px] rounded-t-xl h-[172px] max-w-[301px] md:h-[294px] md:max-w-[512px]">



    <div class="rounded-xl overflow-hidden h-[140px] md:h-[262px]">
        <img src="assets/technology.jpg"
            class="dark:hidden h-[140px] md:h-[262px] w-full rounded-xl" alt="">
        <img src="assets/technology.jpg" class="dark:block h-[140px] md:h-[262px] w-full rounded-xl" alt="">
    </div>
</div>
<div
    class="relative mx-auto bg-gray-300 dark:bg-gray-700 rounded-b-xl h-[24px] max-w-[301px] md:h-[42px] md:max-w-[512px]">
</div>
<div class="relative mx-auto bg-gray-800 rounded-b-xl h-[55px] max-w-[83px] md:h-[95px] md:max-w-[142px]"></div>